@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_AdminLayout";
}

<section class="row justify-content-around">
    <div class="col-md-4 ml-lg-5 pl-lg-5">
        <div class="ml-lg-5 mt-lg-5 mb-lg-5">
            <h2>Log in</h2>
        </div>
        <form method="POST" enctype="multipart/form-data">
            @* <div asp-validation-summary="All" class="text-danger"></div> *@

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <button class="btn btn-dark mt-2">Log in</button>
            </div>
        </form>
    </div>
</section>